{% extends 'base.html' %}



{% block header %}
<h1>{% block title %}Home{% endblock %}</h1>
{% endblock %}

{% block content %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/leaflet.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mapbox-gl/1.13.1/mapbox-gl.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mapbox-gl-leaflet/0.0.15/leaflet-mapbox-gl.min.js"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/leaflet.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mapbox-gl/1.13.1/mapbox-gl.min.css" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Heebo:wght@300&display=swap" rel="stylesheet">


<body>
    <!-- navigation bar -->
    <header>
        <!-- logo -->
        <a class="logo " href="/">
            <img src="{{ url_for('static', filename='media/logo.png') }}">
        </a>

        <!-- links -->
        <nav>
            <ul class="header_bar">
                <li><a href="/report">Report</a></li>
                <li><a href="/map">Incidents</a></li>
                <li><a href="/about">About</a></li>
            </ul>
        </nav>

        <!-- login -->
        <a class="login_button" href="/login">
            <button>Login</button>
        </a>
    </header>

    <h4 id='message'>{{message}}</h4>
    <h4 id='welcome_header'>{{welcome_header}}</h4>

    <h2>RECENT INTERACTIONS</h2>

    <div id="map">
    </div>

    <!-- reporting text -->
    <h2>TO REPORT AN INTERACTION PLEASE CLICK THE LOCATION ON THE MAP</h2>

    <!-- map -->

    <script>
        var map = L.map('map').setView([44.2279, -76.4955], 16);

        var gl = L.mapboxGL({
            attribution: "<a href=\"https://www.maptiler.com/copyright/\" target=\"_blank\">&copy;MapTiler</a> " +
                         "<a href=\"https://www.openstreetmap.org/copyright\" target=\"_blank\">&copy; OpenStreetMap contributors</a>",
            style: 'https://api.maptiler.com/maps/bright/style.json?key=a7JHYpZPJCTe1W95jeYW'
        }).addTo(map);

        // this variable stores the map marker that's created when a user clicks the map
        var clickMarker = {};

        function onMapClick(e) {

            let lat = e.latlng.lat;
            let lng = e.latlng.lng;

            // to make sure there's only ever one such click marker, delete the previous one after each map click
            if (clickMarker != undefined){
                map.removeLayer(clickMarker);
            };

            // add the new click marker with a link to the reporting page
            // (with a query string to autofill the latitude and longitude form fields)
            clickMarker = L.marker(e.latlng).addTo(map);
            clickMarker.bindPopup('<a href="/report?form/latitude='+lat.toString()+'&form/longitude='+lng.toString()+'">Report</a>').openPopup();
        }

        map.on('click', onMapClick);

        function displayReports(){
            // retrieve all incident data from the frontend function
            var report_count = '{{report_count}}';
            var latitudes = JSON.parse('{{latitudes|tojson}}');
            var longitudes = JSON.parse('{{longitudes|tojson}}');
            var descriptions = JSON.parse('{{descriptions|tojson}}');
            var name = JSON.parse('{{name|tojson}}');
            var plates = JSON.parse('{{plates|tojson}}');
            var badge = JSON.parse('{{badge|tojson}}');
            var profile = JSON.parse('{{profile|tojson}}');
            var all_filenames = JSON.parse('{{all_filenames|tojson}}');
            var all_dates = JSON.parse('{{all_dates|tojson}}');

            // generate and place map markers for every report in the database
            for(let i=0; i<report_count; i++){

                // the text popup consists of the incident description, date, and links to all its associated files
                
                var textpopup1 = "<p>" + descriptions[i] + "</p>";
                var textpopup2 = "<p>" + name[i] + "</p>";
                var textpopup3 = "<p>" + plates[i];
                var textpopup4 = "<p>" + badge[i] + "</p>";
                var textpopup5 = "<p>" + profile[i] + "</p>";
                var textpopup6 = "<p>" + all_dates[i] + "</p>";
                var description = "<h1>Incident</h1>";
                var officertext = "<h1>Officer</h1>";
                var platetext = "<h1>License Plate</h1>";
                var profiletext = "<h1>Notes</h1>";
                var badgetext = "<h1>Badge No.</h1>";
                var datetext = "<h1>Reported</h1>";

                textpopup = description + textpopup1 + officertext + textpopup2 + badgetext + textpopup4 + platetext + textpopup3 + profiletext + textpopup5 + datetext + textpopup6;

                for(let j=0; j<all_filenames[i].length; j++){
                    // i apologize for this abomination of a line, but it was the only way i could dynamically create links to the user files
                    var linkstring = '<a href="{{url_for("download_file", filename="")}}'+all_filenames[i][j]+'">File Upload '+(j+1).toString()+'</a></br>';
                    textpopup = textpopup + linkstring;
                }

                // place the marker
                var marker = L.marker([latitudes[i],longitudes[i]]).addTo(map);
                marker.bindPopup(textpopup).openPopup();
            }

        }

        displayReports();

    </script>
</body>


{% endblock %}
