{% extends 'base.html' %}



{% block header %}
<h1>{% block title %}Home{% endblock %}</h1>
{% endblock %}

{% block content %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/leaflet.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mapbox-gl/1.13.1/mapbox-gl.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mapbox-gl-leaflet/0.0.15/leaflet-mapbox-gl.min.js"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/leaflet.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mapbox-gl/1.13.1/mapbox-gl.min.css" />

<style>
    #map {height: 720px;}
</style>

<body>
    <header>
        <h1>Police Interaction App</h1>
        <nav>
            <ul class="header_bar">
                <li><a href="/about">About</a></li>
                <li><a href="/map">Map</a></li>
                <li><a href="/report">Incidents</a></li>
            </ul>
        </nav>
        <a class="login_button" href="/profile"><button>Profile</button></a>
    </header>
    <h4 id='message'>{{message}}</h4>
    <h4 id='welcome_header'>{{welcome_header}}</h4>

    <h2>Recent Interactions</h2>

    <div id="map">
        <a href="https://www.maptiler.com" style="position:absolute;left:10px;bottom:10px;z-index:999;"><img src="https://api.maptiler.com/resources/logo.svg" alt="MapTiler logo"></a>
    </div>
    
    <script>
        var map = L.map('map').setView([44.2279, -76.4955], 16);

        var gl = L.mapboxGL({
            attribution: "\u003ca href=\"https://www.maptiler.com/copyright/\" target=\"_blank\"\u003e\u0026copy; MapTiler\u003c/a\u003e \u003ca href=\"https://www.openstreetmap.org/copyright\" target=\"_blank\"\u003e\u0026copy; OpenStreetMap contributors\u003c/a\u003e",
            style: 'https://api.maptiler.com/maps/bright/style.json?key=a7JHYpZPJCTe1W95jeYW'
        }).addTo(map);


        function onMapClick(e) {
            
            var marker = L.marker(e.latlng).addTo(map);
            marker.bindPopup("<p>Html code goes here</p>").openPopup();
        }

        map.on('click', onMapClick);

    </script>

    <h3><button>Report</button></h3>
    <p>
        <a class="logout" id="return_link" href='/logout'><button>Logout</button></a>
    </p>
</body>


{% endblock %}
