{% extends 'base.html' %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">

<div id="logo-and-logins">
  <h1>{% block title %}Sign Up{% endblock %}</h1>
  <h4 id='message'>{{message}}</h4>
  <form method="post">
    <div class="form-group">

      <div class="icon-group">
        <img src="{{ url_for('static', filename='media/email_icon.png') }}">
        <input class="form-control" name="email" id="email" placeholder="Email" required>
      </div>

      <div class="icon-group">
        <img src="{{ url_for('static', filename='media/user_icon.png') }}">
        <input class="form-control" name="name" id="name" placeholder="Username" required>
      </div>

      <div class="icon-group">
        <img src="{{ url_for('static', filename='media/key_icon.png') }}">
        <input class="form-control" type="password" name="password" id="password" placeholder="Password" required>
      </div>

      <div class="icon-group">
        <img src="{{ url_for('static', filename='media/key_icon.png') }}">
        <input class="form-control" type="password" name="password2" id="password2" placeholder="Confirm Password" required>
      </div>


      <div id="login-button">
        <input class="btn btn-lg btn-primary" type="submit" id="btn-submit" value="Register">
      </div>
    </div>
  </form>
</div>

<div id="sub-logins">
  <span></span>
  <span><a href='/login' id="login">Return to login page</a></span>
</div>
{% endblock %}