{% extends 'base.html' %}

{% block header %}

{% endblock %}

<!-- style -->
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/report.css') }}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Heebo:wght@300&display=swap" rel="stylesheet">
<body>
    <!-- navigation bar -->
    <header>
        <!-- logo -->
        <a class="logo " href="/">
            <img src="{{ url_for('static', filename='media/logo.png') }}">
        </a>

        <!-- links -->
        <nav>
            <ul class="header_bar">
                <li><a href="/report">Report</a></li>
                <li><a href="/map">Incidents</a></li>
                <li><a href="/about">About</a></li>
            </ul>
        </nav>

        <!-- login -->
        <a class="login_button" href="/login">
            <button>Login</button>
        </a>
    </header>

    <div>
        <h2>Incident Report</h2>
        

            <form method="post" id="incident-report" enctype="multipart/form-data">
                <div class="form-group">
                    <h3>Required</h3>
                    <div class="icon-group">
                        <input class="form-control" type="text" name="description" placeholder="description of the incidident" required>
                    </div>
                    <div class="icon-group">
                        <input type="text" name="latitude" id="latitude" required>
                    </div>
                    <div class="icon-group">
                        <input type="text" name="longitude" id="longitude" required>
                    </div>
                    <h3>Additional Information</h3>
                    <div class="icon-group">
                        <input class="form-control" type="text" name="plates" placeholder="officer's license plate">
                    </div>
                    <div class="icon-group">
                        <input class="form-control" type="text" name="name" placeholder="officer's name">
                    </div>
                    <div class="icon-group">
                        <input class="form-control" type="text" name="badge" placeholder="officer's badge number">
                    </div>
                    <div class="icon-group">
                        <input class="form-control" type="text" name="profile" placeholder="officer's description">
                    </div>
                    <div class="icon-group">
                        <input class="form-control" type="text" name="time" placeholder="time">
                    </div>
                    <h3>Media</h3>
                    <input class="form-control" type="file" name="files" accept="video/*,image/*" multiple>

                    <div id="submit-button" style="text-align:center;">
                        <input class="button" type="submit" id="submit-button" value="Submit">
                    </div>
                </div>
            </form>
            <script>var GET = {};
                var queryString = window.location.search.replace(/^\?/, '');
                queryString.split(/\&/).forEach(function (keyValuePair) {
                    var paramName = keyValuePair.replace(/=.*$/, ""); // some decoding is probably necessary
                    var paramValue = keyValuePair.replace(/^[^=]*\=/, ""); // some decoding is probably necessary
                    GET[paramName] = paramValue;
                });
                document.getElementById("latitude").value = GET["form/latitude"];
                document.getElementById("longitude").value = GET["form/longitude"];</script>
        </div>
    </body>
    {% endblock %}
